@media (max-width: 768px) {
  .air-conditions {
    height: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .title {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #fff;
      font-size: 15px;
      margin-bottom: 20px;
      .icon {
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
    .subtitle {
      font-size: 18px;
      font-weight: 900;
      color: #fff;
    }
    .conditions {
      padding: 20px;
      .item-content {
        display: flex;
        justify-content: space-between;
        &.bot {
          margin-top: 50px;
        }
        .item {
          display: flex;
          gap: 10px;
          .icon {
            svg {
              width: 25px;
              height: 25px;
            }
          }
          .text {
            font-size: 14px;
            color: #fff;
            p {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  
}